.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 4rem;
	background-color: #0c5a72e0;
	transition: width 0.3s;
	overflow: hidden;
	z-index: 1000;
	color: rgb(211, 207, 207);
}

.sidebar.open {
	width: 12rem;
}

.sidebar-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
}

.sidebar-icons a {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition:
		background-color 0.3s,
		padding-left 0.3s,
		justify-content 0.3s;
}

.sidebar-icons a:hover {
	background-color: #374151;
}

.sidebar-icons .icon {
	font-size: 1.5rem;
	transition: margin-right 0.3s;
}

.sidebar.open .sidebar-icons .icon {
	margin-left: 1rem;
}

.sidebar-icons p {
	display: none;
	opacity: 0;
	transition: opacity 0.3s;
	white-space: nowrap;
	margin: 0;
}

.sidebar.open .sidebar-icons p {
	opacity: 1;
}

.dashboard-button,
.patient-button,
.user-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 0.5rem;
	width: 100%;
	height: 3rem;
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
}

.sidebar.open .dashboard-button,
.sidebar.open .patient-button,
.sidebar.open .user-button {
	justify-content: flex-start;
	padding-left: 1.5rem;
}

.sidebar.open .dashboard-button p,
.sidebar.open .patient-button p,
.sidebar.open .user-button p {
	display: inline;
	margin-left: 1rem;
	font-weight: 600;
}
